.parent{
    border:  solid thin #F6D050;
    /* width: 100%; */
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: #F6D050;
    box-shadow:  1px 1px 10px;
}
.father{
    border:  solid thin ;
    width: 320px;
    height: 430px;
    margin: 130px auto;
    background-color: white;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    box-shadow: 5px 5px;
    padding: 5px;
}
.img{
    max-width: 300px;
    max-height: 300px;
    margin-top: 14px;
    border-radius: 10px;
}
.sub{
    font-size: 16px;
    /* font-family: "Outfit", sans-serif; */
}
.l{
    /* border: thin solid; */
    max-width: 80px;
    max-height:80px ;
    justify-content: center;
    display: grid;
    font-size: 16px;
    background-color: #F6D050
    
}
